<h2>User info</h2>
<table class="table">
	<tbody>
	  <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: 'noimage.png', size: '60x60' %>
		<tr>
			<th>name</th>
			<td><%= user.name %></td>
		</tr>
		<tr>
			<th>introduction</th>
			<td><%= user.introduction %></td>
		</tr>
		<tr>
			<th>フォロワー</th>
			<td class="followed-count">
				<%= render 'relationships/followed_count', user: user %>
			</td>
		</tr>
		<tr>
			<th>フォロー中</th>
			<td class="follower-count">
				<%= render 'relationships/follower_count', user: user %>
			</td>
		</tr>
	</tbody>
</table>
<div class="row" id="relationship<%= user.id %>">
	<%= render 'relationships/follow', user: user %>
</div>