<div class="container">
	<div class="row">
		<% if @user.errors.any? %>
   			<p class="error">error!!!!</p>
		<% end %>
		<% if @user.errors.any? %>
		  <div id="error_explanation" class="alert alert-danger">
		    <ul>
		      <% @user.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		    </ul>
		  </div>
		<% end %>
		<h2>User info</h2>
		<%= form_for @user do |f| %>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="form-group">
			<%= f.label :image %>
			<%= f.attachment_field :profile_image %>
		</div>
		<div class="form-group">
			<%= f.label :introduction %>
			<%= f.text_area :introduction %>
		</div>
		<%= f.submit 'Update User' %>
		<% end %>
	</div>
</div>