<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/18f4d5da3c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <spans class="header-logo">Bookers3</span>
      <ul class="nav navbar-nav navbar-right nav-hover">
        <% if user_signed_in? %>
          <li>
            <%= link_to user_path(current_user.id) do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
            <% end %>
          </li>
          <li>
            <%= link_to users_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
            <% end %>
          </li>
          <li>
            <%= link_to books_path do %>
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
          <% end %>
        </li>
        <% else %>
          <li>
            <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
            <% end %>
          </li>
          <li>
            <%= link_to home_about_path do %>
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>login
            <% end %>
          </li>
        <% end %>
      </ul>
      <div id="sp-menu">
        <h2>MENU</h2>
        <ul>
          <li><a href="#">MENU1</a></li>
          <li><a href="#">MENU2</a></li>
          <li><a href="#">MENU3</a></li>
          <li><a href="#">MENU4</a></li>
        </ul>
      </div>
      <div id="hm-icon">
        <a class="menu-trigger" href="#">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </header>
    <main>
      <div class="container">
        <p class="succes"><%= notice %></p>
      </div>
      <%= yield %>
      <span class="scroll">
        <a id="scroll-image" href="#">
          <img src="/assets/arrow.png">
        </a>
      </span>
    </main>
    <footer class="container">
      <div class="row">
        <p class="col-xs-offset-9">CopyRight Infratop.inc<p>
      </div>
    </footer>
  </body>
</html>
